In [53]:
import pandas as pd

In [55]:
df= pd.read_csv("Book2.csv")

In [57]:
df

  Unnamed: 0  Temperature   Wind Speed   Event
0     Monday         24.0         18.0  Sunny
1    Tuesday         28.0         19.0  Cloudy
2  Wednesday         30.0          NaN   Rainy
3   Thursday          NaN         20.0   Windy
4     Friday         18.0         10.0     NaN

In [59]:
# print first 3 value from the table.
df.head(3)

  Unnamed: 0  Temperature   Wind Speed   Event
0     Monday         24.0         18.0  Sunny
1    Tuesday         28.0         19.0  Cloudy
2  Wednesday         30.0          NaN   Rainy

In [61]:
# print last 1 value from the table.
df.tail(1)

  Unnamed: 0  Temperature   Wind Speed Event
4     Friday         18.0         10.0   NaN

In [65]:
# print the second row value from temperature.
df.iloc[1,1:2]

Temperature    28.0
Name: 1, dtype: object

In [75]:
# Fill the empty value.
new_df=df.fillna({
    'Temperature':22,
    'Wind Speed':20,
    'Event':"No event"
})
df

  Unnamed: 0  Temperature   Wind Speed   Event
0     Monday         24.0         18.0  Sunny
1    Tuesday         28.0         19.0  Cloudy
2  Wednesday         30.0          NaN   Rainy
3   Thursday          NaN         20.0   Windy
4     Friday         18.0         10.0     NaN

In [69]:
# drop the null value.
df.dropna()

  Unnamed: 0  Temperature   Wind Speed   Event
0     Monday         24.0         18.0  Sunny
1    Tuesday         28.0         19.0  Cloudy

In [83]:
#
new_dd=df.fillna(method="bfill")

C:\Users\Dell 4\AppData\Local\Temp\ipykernel_7444\740421778.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_dd=df.fillna(method="bfill")

In [81]:
# Temperature more than 20.
df[df['Temperature']>20]

  Unnamed: 0  Temperature   Wind Speed   Event
0     Monday         24.0         18.0  Sunny
1    Tuesday         28.0         19.0  Cloudy
2  Wednesday         30.0          NaN   Rainy